<div class="container conversation">
  <div class="container text-center conversation-box">
    <h3>My Conversations</h3>
    <% @conversations.each do |conversation| %>
      <% if conversation.customer_id == current_user.id || conversation.caterer_id == current_user.id %>
        <% if conversation.customer_id == current_user.id %>
          <% caterer = User.find(conversation.caterer_id) %>
        <% else %>
          <% caterer = User.find(conversation.customer_id) %>
        <% end %>
        <% unless current_user.id == caterer %>
          <div>
            <div>
              <div class="conversation-email">
                <%= link_to caterer.email, conversation_messages_path(conversation), class: "link-to-convo-email" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>