<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>

    <!-- Bootstrap CSS -->
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> %>

    <title>CaterLog</title>
  </head>
  
  <body>
   
    <section>

      <div class="section-1 box-1">
        <div class="section1-box1">
          <h1>Book caterers for any event, online</h1>
          <p>Save yourself some time and book a caterer.</p>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="caterer">
              <a href="users/sign_up" class="btn btn-outline-dark btn-md" role="button">I am a caterer</a>
            </div>
            <div class="btn-group" role="group" aria-label="customer">
              <a href="event_types" class="btn btn-outline-dark btn-md" role="button">I am looking for a caterer</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2 box-2">
        <h2>Featured</h2>
          <div class="container-fluid card-feature">
            <% @caterer_information.each do |caterer|%>
              <div class="card">
                <img class="card-img-top" src=<%= caterer.image %> alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= caterer.business_name %></h5>
                  <p class="card-text"><%= caterer.about %></p>
                  <a href="#" class="btn btn-outline-dark">More Information</a>
                </div>
              </div>
            <% end %>
          </div>

      </div>
      
      <div class="section-3 box-3">

        <div class="card" id="card-us">
            <div class="card-body">
              <div class="card-us-grid">
                <h5 class="card-title">Why Us?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Easy to Book</h6>
                <p class="card-text">Our booking system allows you to book on the spot!</p>
                <h6 class="card-subtitle mb-2 text-muted">Easy to Book</h6>
                <p class="card-text">Our booking system allows you to book on the spot!</p>
              </div>
          </div>

        </div>

      </div>
    </section>

    <footer>
      <div>
        <h2>Contact Us</h2>

      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>