<p id="notice"><%= notice %></p>

<h1>History</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= @histories.each do |history| %>
    <tr>
        <td><%= history %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
