<div class="text-center">
<h1>Cocktails</h1>
</div>

<% @cocktail.each do |cocktail| %>
    <p>
        <%= image_tag cocktail.image_url %>
    </p>
    <p>
        <strong>Name:</strong>
        <%= cocktail.name %>
    </p>
    <p>
        <strong>Address:</strong>
        <%= cocktail.address %>
    </p>
    <p>
        <strong>About:</strong>
        <%= cocktail.about %>
    </p>

<% end %>