<div class="container-fluid about">

  <div class="container-fluid about-background">
    <div class="container content">
      <h1 class="text-center">ABOUT US</h1>

      <p>
      The idea for CaterLog came from three great individuals in a little corner at Coder Academy. They were sick of searching the web to find caterers for all the parties they were throwing, so they made an app where you can find caterers in one place.
      </p>

      <p>How it works?</p>

      <p>
      If you're looking for a caterer then look no further. We have many caterers who specialise in different event types, and you can instantly book when you have found the caterer you need.
      </p>

      <p>
      If you're caterer and want to expand your business, then you have come to the right place! Customers can book and enquire through our app so you can manage everything here.
      </p>

    </div>
  </div>

</div>