<div class="container-fluid about">

  <div class="container-fluid about-background">
    <div class="container content">
      <h1 class="text-center">ABOUT US</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nisl at est mattis pulvinar at a mauris. Curabitur eu dictum sem, in tincidunt justo. Sed nec dapibus nulla. Donec nec justo ullamcorper, vehicula elit aliquam, mattis lacus. Sed posuere condimentum est vitae aliquam. Nam eget sapien gravida, molestie risus at, maximus felis. Mauris suscipit porta magna sit amet cursus. Sed vulputate nisi eget finibus laoreet. Ut bibendum non odio ac ultricies. Curabitur erat tortor, iaculis quis iaculis eu, sodales ac risus. Curabitur vel mollis ligula. Aliquam scelerisque placerat arcu, ac luctus lacus tempus non.</p>
    </div>
  </div>

</div>