// Common
.card {
  width: 450px;
  height: inherit;
}

.card-title {
  font-size: 3em;
}

.card-text {
  word-wrap: break-word;
}

// Home > Features
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// Home > Why Us?
#card-us {
  height: 50rem;
  width: 80rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 50px;
  text-align: center;
  height: 500px;
  width: 500px;
}

// Event Type Categories
.card-event {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.back-button {
  display: flex;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 100px;
    height: 150px;
  }

  .card-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
  }

  h1 {
    font-size: 1em !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}