// Common
.card {
  width: 450px;
  height: inherit;
}

.card-title {
  font-size: 3em;
}

.card-text {
  word-wrap: break-word;
}

// Home > Features
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// Home > Why Us?
#card-us {
  height: 50rem;
  width: 80rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 50px;
  text-align: center;
  height: 500px;
  width: 500px;
}

// Event Type Categories
.card-event {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.back-button {
  display: flex;
  justify-content: center;
}

// Caterer Information Cards

.card-information {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Extra large devices (large laptops and desktops, less than 1200px) */
@media only screen and (max-width: 1200px) {
  
  #card-us {
    height: 45rem;
    width: 70rem;
    margin: 0 !important;
  }

  .section-2 .card {
    width: 350px;
    height: 480px;
  }

  .section-2 .card-title {
    font-size: 2em;
  }

  .section-2 .card-text {
    font-size: 0.8em;
  }
}

/* Large devices (laptops/desktops, less than 992px) */
@media only screen and (max-width: 992px) {
  #card-us {
    height: 45rem;
    width: 55rem;
    margin: 0 !important;
  }

  .section-2 .card {
    width: 270px;
    height: 450px;
  }

  .section-2 .card-title {
    font-size: 2em;
  }

  .section-2 .card-text {
    font-size: 0.8em;
  }
}

/* Medium devices (landscape tablets, less than 768px) */
@media only screen and (max-width: 768px) {
  #card-us {
    height: 40rem;
    width: 40rem;
    margin: 0 !important;
  }

  .section-2 .card {
    width: 450px;
    height: 480px;
  }
} 

/* Small devices (portrait tablets and large phones, less than 576px) */
@media only screen and (max-width: 576px) {
  #card-us {
    height: 30rem;
    width: 33rem;
    margin: 0 !important;
    justify-content: flex-start;
  }

  .card-us-grid {
    grid-gap: 10px;
    height: 100px;
    width: 500px;
    font-size: 0.8em;
  }
}