// display
.section-1 {
  height: 100vh;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: asset_url("donuts.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.section1-box1 {
  margin-left: 100px;
  position: absolute;
  top: 40%;
  font-size: 3em;
}

h1 {
  font-size: 250% !important;
}

// Features
.section-2 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-feature{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: 150%;
  color: white;
}

// Why Us?
.section-3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("cater-food.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h5 {
  font-size: 3em !important;
}

.card-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 50px;
  text-align: center;
  height: 500px;
  width: 500px;
}

.us-image {
  margin-bottom:20px;
  width: 100px;
} 

/* Medium devices (landscape tablets, less than 768px) */
@media only screen and (max-width: 768px) {
  .section-2 {
    height: 240vh;
  }

  .section1-box1 {
    margin-left: 50px;
    top: 40%;
    font-size: 2em;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section1-box1 {
    margin-left: 40px;
    top: 30%;
    font-size: 2em;
}
  
  .section-2 {
    height: 240vh;
  }

  .section-3 {
    height: 60vh;
  }
}

/* Extra small devices (phones, 414px and down) */
@media only screen and (max-width: 576px) {
  .section1-box1 {
    margin-left: 40px;
    top: 30%;
    font-size: 2em;
}
  
  .section-2 {
    height: 250vh;
  }

  .section-3 {
    height: 60vh;
  }
}