// navbar
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  // color: black;
}

.link-to-text-brand {
  text-decoration: none !important;
  color: white;

  &:hover {
    color: lightgray;
  }
}

.link-to-text-color {
  text-decoration: none !important;
  color: white;

  &:hover {
    color: lightgray;
  }
}

// footer
footer {
  padding-top: 50px;
  height: 20vh;
  background-color: whitesmoke;
  // color: white;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.icon {
  width: 30px;
  // filter: brightness(0) invert(1);
}


// Responsive Navbar
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  // .navbar {
  //   width: 600px;
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  // .navbar {
  //   width: 786px;
  // }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  // .navbar {
  //   width: 992px;
  // }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  // .navbar {
  //   width: 1200px;
  // }
}