// navbar
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.navbar-brand {
  // color: black;
}

.link-to-text-brand {
  text-decoration: none !important;
  color: white;

  &:hover {
    color: lightgray;
  }
}

.link-to-text-color {
  text-decoration: none !important;
  color: white;

  &:hover {
    color: lightgray;
  }
}

// notice on navbar
#notice {
  color: white;
  font-size: 85%;
  position: fixed;
}

// footer
footer {
  padding-top: 50px;
  height: 20vh;
  background-color: whitesmoke;
  // color: white;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.icon {
  width: 30px;
  // filter: brightness(0) invert(1);
}
