/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 /*
 *= require rails_bootstrap_forms
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.section {
  height: 100vh;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("catering.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-2 {
  margin-left: 150px;
}

h2 {
  text-align: center;
  margin-top: 100px;
}

.box-3 {
  background-color: black;
  color: white;
}



footer {
  height: 50vh;
}